header
  .main-menu.text--caption
    .main-menu__holder
      .main-menu__main-logo.main-logo
        a(href='/')
          img(src="../../images/main-logo.svg") 
      nav.main-menu__nav-bar.nav-bar
        a.nav-bar__link(href='') Главная
        a.nav-bar__link(href='') Отрасли <br> применения
        a.nav-bar__link(href='') Возможности <br> печати
        a.nav-bar__link(href='') Специальные <br> предложения
        a.nav-bar__link(href='') Готовые <br> штампы
        a.nav-bar__link(href='') Видео
        a.nav-bar__link(href='') Контакты