header
  .header-desktop
    .main-menu.text--caption
      .main-menu__holder
        .main-menu__main-logo.main-logo
          a(href='/')
            img(src="../../images/main-logo.svg") 
        nav.main-menu__nav-bar.nav-bar
          a.nav-bar__link(href='/') Главная
          a.nav-bar__link(href='../pages/industries.pug') Отрасли <br> применения
          a.nav-bar__link(href='../pages/printing.pug') Возможности <br> печати
          a.nav-bar__link(href='../pages/offers.pug') Специальные <br> предложения
          a.nav-bar__link(href='../pages/stamps.pug') Готовые <br> штампы
          a.nav-bar__link(href='../pages/video.pug') Видео
          a.nav-bar__link(href='../pages/contacts.pug') Контакты

