.pagination__wrapper
  .pagination
    a.pagination__item.pagination__item--active(href='') 1
    a.pagination__item(href='') 2
    a.pagination__item(href='') 3
    a.pagination__item(href='') 4
    a.pagination__item(href='') 5
    a.pagination__item ...
    a.pagination__item(href='') 15 