
.slider__wrapper {
  width: 100%;
  height: 800px;
  position: relative;

}



.slider {
  width: 100%;
  height: 800px;
  position: relative;
}  


.slider-dots {
  display: flex;
  position: absolute;
  bottom: 30px;
  // left: 50%;
  z-index: 1;
  // margin-left: -12px;
}
.dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  margin-left: 12px;
  cursor: pointer;
}

.dot-active {
  background: rgba(255, 255, 255, 0.8);
}

.swiper-button-prev  {
  left: 0!important;
} 

.swiper-button-prev.slider-prev,
.swiper-button-next.slider-next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 50%;
  height: auto;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  transition: 0.2s;
  height: 83%;
  outline: none;
    img {
        width: 1.5%;
        height: 6%;
    }

    &:hover {
        opacity: 1;
    }
}

.swiper-button-prev.slider-prev {
  align-items: flex-start;
  padding-left: 28px;
}

.swiper-button-next.slider-next {
  align-items: flex-end;
  padding-right: 28px;
}

.swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}

.swiper-button-prev.slider-prev{
  img {
      transform: rotate(180deg);
  }
}

.swiper-button-next.slider-next {
  right: 0;
}

.slider-item {
    width: 100%;
    opacity: 1;
    transition: all ease 1s;
}

.swiper-pagination.slider-dots.swiper-pagination-bullets{
  left:45%;
  bottom: 40px;
}


.swiper-pagination-bullet {
  background: white!important;
  margin: 0 10px!important;
  // bottom: 40px!important;
}

// .gradient-block {
//     background: #000000;
//     opacity: 0.2;
//     transition: opacity 0.3s linear;
// }

.big-block.big-block--news.common-wrapper.slider-item {
  height: 800px;
  padding-top: 120px;
  position: relative;
  overflow: hidden;
  // min-height: 576px;
}    
.big-block--news{
 
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.501038) 0%, rgba(0, 0, 0, 0.9) 88.99%, rgba(0, 0, 0, 0.895897) 100%), url(../images/slide-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}    

.common-wrapper__holder {
    height: 100%;
    margin: 0 auto;
    min-width: 1024px;
    max-width: 1664px;
    padding-left: 128px;
    padding-right: 128px;
}

.tag {
  font-weight: 900;
  font-style: normal;
  font-size: 9px;
  color: #000000;
  letter-spacing: 0;
  line-height: 24px;
  padding-left: 16px;
  padding-right: 16px;
  background: white;
  border-radius: 13px;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}

.big-block__description {
  max-width: 512px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  margin-top: 55px;
}

.big-block__title {
  max-width: 703px;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.2px;
  color: #FFFFFF;
  margin-top: 150px;
}


.read-more {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-top: 150px;
}
.read-more__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.read-more__icon {
  margin-left: 12px;
}

.our-offer {
  padding-top: 56px;
  padding-bottom: 70px;
}

.tag--green {
  background: #35A9AD;
  color: white;
  font-weight: 900;
  font-size: 9px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.line__wrapper {
  display: flex;
  align-items: center;
}

.line-text__block {
  margin-right: auto;
}

.offer__title {
  max-width: 534px;
  font-weight: bold;
font-size: 24px;
line-height: 32px;
letter-spacing: -0.5px;
color: #111721;
  margin-top: 48px;
}

.offer__description {
  max-width: 512px;
  font-weight: 500;
font-size: 14px;
line-height: 150%;
color: #111721;
margin-top: 32px;
}

.line-logo__title  {
  font-weight: 600;
font-size: 16px;
line-height: 32px;
text-align: center;
letter-spacing: -0.5px;
color: #303030;
margin-top: 16px;
}


.big-block--represent {
  height: fit-content;
  background-color: #35A9AD;
  padding-top: 112px;
  background-image: url(../images/back-img.png);
  background-repeat: no-repeat;
  background-position: top 0px right 0px;
  padding-bottom: 40px;
  
}

.big-block__tag {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}

.big-block__title.big-block__title--no-min-height {
  margin-top: 24px;
}

.big-block__col {
  max-width: 320px;
  // margin-right: 242px;
  color: white;
  font-size: 18px;
  line-height: 24px;
}

.big-block__col:nth-child(2) {
  margin-right: 0;
}

.big-block__2col.big-block__2col--mobile-column {
  display: flex;
  align-items: baseline;
  margin-top: 138px;

  .big-block__col.big-block__col--mobile-row:not(:first-child) {
    margin-left: 280px;
  }
}

.big-block__col-text {
  font-weight: 500;
font-size: 14px;
line-height: 150%;
color: #FFFFFF;
margin-top: 8px;
}

.big-block__col__second{
  width: 320px;
  //  margin-right: 242px;
  color: white;
  font-size: 18px;
  line-height: 24px;
  margin-top: 70px;
}



.big-block__2col.big-block__2col--mobile-second-block {
  display: flex;
  align-items: baseline;
  .big-block__col:not(:first-child) {
    margin-left: 125px;
  } 
}

.big-block__col-text.big-block__col-text--big {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -0.2px;
  color: #FFFFFF;
  
}


.partners-line {
  margin-top: 100px; 
}


.partners-line {
  margin-top: 72px; }
  @media only screen and (max-width: 499px) {
    .partners-line {
      margin-top: 48px; } }
  .partners-line__logo {
    max-width: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 100ms ease;
    transition: all 100ms ease; }
  .partners-line__read-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 60px; }
    @media only screen and (max-width: 499px) {
      .partners-line__read-more {
        margin: 0;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; } }
  .partners-line__heading {
    font-weight: 500;
    color: white;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
    ;
  }
    @media only screen and (max-width: 499px) {
      .partners-line__heading {
        margin-bottom: 16px; } }
  .partners-line__holder {
    height: 120px; }
  .partners-line__wrapper {
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (min-width: 500px) {
      .partners-line__wrapper {
        right: initial;
        overflow: visible; } }
    .partners-line__wrapper::-webkit-scrollbar {
      display: none; }
  .partners-line__logo-holder {
    width: 120px;
    height: 120px;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 40px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 16px; }
    .partners-line__logo-holder:hover .partners-line__logo {
      -webkit-transform: scale(0.875);
      transform: scale(0.875); }
    .partners-line__logo-holder:last-child {
      margin-right: 0; }
      @media only screen and (min-width: 500px) {
        .partners-line__logo-holder:last-child {
          margin-right: 16px; } }
    @media only screen and (min-width: 500px) {
      .partners-line__logo-holder:first-child {
        margin-left: 16px; } }



.info-mobile {
  display: none!important;
}


@media(max-width: 1024px) {

  .swiper-container {
    margin: 0 auto;
    // min-width: 1024px;
    // max-width: 1664px;
    padding-left: 128px;
    padding-right: 128px;
}

  .big-block.big-block--news.common-wrapper.slider-item {
    width: fit-content;
  }

  .big-block--represent {
    width: fit-content;
    .common-wrapper__holder {
      height: inherit;
      padding-bottom: 144px;
  }
  }

}

@media(max-width: 499px) {

  .swiper-container {
    // min-width: 320px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .big-block__2col.big-block__2col--mobile-column .big-block__col.big-block__col--mobile-row:not(:first-child) {
    margin-left: 0;
  }
  .big-block {
    min-width: 320px; 
    // padding-left: 32px;
    // padding-right: 32px;
  }
  .swiper-button-prev.slider-prev,
  .swiper-button-next.slider-next {
    width: 35px;
  }

  .slider-dots {
    left: 44%;
  }

  .common-wrapper__holder {
    min-width: 320px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .big-block--represent {
    min-width: 320px; 
    width: auto;
    padding-left: 32px;
    padding-right: 32px;
  }
  .slider__wrapper {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      width: 120px;
      height: 128px;
      background: url(../images/fix-img-2.png);
      z-index: 100;
    }
  }
  .big-block.big-block--news.common-wrapper.slider-item {
    padding-top: 32px;
    width: auto;
  }
  .big-block__description {
    max-width: 256px;
  }

  .big-block__title {
    max-width: 256px;
    font-size: 24px;
    line-height: 32px;
  }

  .our-offer {
    padding-bottom: 28px;
    .line__wrapper {
      flex-direction: column;
    }
    .offer__title {
      font-size: 16px;
      line-height: 150%;    
    }
    .offer__description {
      font-size: 14px;
      line-height: 150%;
    }

    .line-logo__block {
      margin-top: 50px;
    }
  }

  .big-block--represent {
    padding-top: 48px;
    .common-wrapper__holder {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 48px;
    }
    .big-block__title.big-block__title--no-min-height {
      margin-top: 85px;
    }

    .big-block__2col.big-block__2col--mobile-column {
      flex-direction: column;
    }
    .big-block__col {
      display: flex;
      margin-top: 29px;
    }

    .big-block__col-text {
      margin-left: 29px;
      margin-top: 0;
    }
  }
  .info-desktop {
    display: none!important;
  }
  .big-block__col__second {
    width: 280px;
    margin-top: 107px;
  }
  .info-mobile {
    display: block!important;
    .info-mobile__title {
      margin-left: 0;
    }
    .info-mobile__wrapper {
      margin-top: 19px;
      display: flex;
      .info-mobile__item:last-child {
        margin-top: 0;
        margin-left: 73px;
        display: block;
      }
      .info-mobile__item {
        .big-block__col-text.big-block__col-text--big,
        .big-block__col-text.big-block__col-text--third {
          margin-left: 0;
        }
      }
    }
  }
  .partners-line {
    margin-top: 0;
    padding-left: 0;
  }
  .partners-line__wrapper {
    padding-left: 28px;
  }
}

@media(max-width: 351px) {
  .common-wrapper__holder {
    min-width: 280px;
  } 
}

