.stamps {
  .big-block--represent {
    padding-top: 30px;
    padding-bottom: 179px;
  }
}

.common-wrapper__holder {
  .page__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    margin-top: 64px;
  }

  span.breadcrumbs__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #fff;
    opacity: 0.3;
  }
}

.stamps-header__wrapper {
  display: flex;
  margin-top: 84px;
}

.stamps__description {
  max-width: 321px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}

.stamps-download__wrapper {
  margin-left: 79px;
  
}

.stamps-download__item {
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 16px;
  cursor: pointer;
  a {
    margin-left: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
  }
  &:hover {
    background: rgba(248, 250, 255, 0.2);
    backdrop-filter: blur(8px);
  }
}


.stamps-main__wrapper {
  background-image: url(../images/fix-img-2.png);
  background-position: right 65px;
  background-repeat: no-repeat;
  .page__subtitle_wrapper {
    margin-top: 74px;
  }
  .page__description {
    max-width: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #111721;
    margin-top: 24px;
  }

  .partners-line__holder {
    margin-top: 64px;
  }

  .partners-line__logo-holder {
    border: 1px solid #DCE3EF;
    border-radius: 40px;
  }
}

.stamps-todo-line {
  width: fit-content;
  display: flex;
  align-items: center;
  background: #F8FAFF;
  padding: 50px;
  margin-top: 30px;
}

.todo-item {
  display: flex;
  align-items: center;
  span {
    margin-left: 10px;
  }
}


.todo-item:not(:first-child) {
  margin-left: 28px;
}

.todo-next-arrow {
  margin-left: 23px;
}

.download-long {
  background: #FFFFFF;
  border: 1px solid #DCE3EF;
  max-width: 943px;
  margin-top: 40px;
  a {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;  
    color: #111721;
  }
}

.choose-form {
  margin-top: 52px;
  
}

.choose-form-items__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 42px;
  margin-left: -6px;
}

.choose-form-item {
  margin-left: 6px;
  margin-top: 10px;
  img {
    width: 100%;
    display: block;
  }
  
  &:hover {
    .choose-form-item__text {
      border: 1px solid #DCE3EF;
      border-top: none;
    }
    
  }
  
}
.choose-form-item__text {
  text-align: center;
  padding: 30px 20px;
  border: 1px solid transparent;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #111721;
  
}

.download-mobile {
  display: none;
}

.stamps-todo-line.stamps-todo-line__mobile  {
  display: none;
}

.stumps-modal__wrapper.item-modal__wrapper-stumps {
    display: block;
  }

.stamps-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .stamps-modal__wrapper {
    display: none; }
  .stamps-modal__holder {
    width: 704px;
    height: 452px; }
  .stamps-modal__bg {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 300;
    background: rgba(255, 255, 255, 0.9);
    position: fixed; }
  .stamps-modal__close {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 48px;
    top: 48px;
    cursor: pointer;
    z-index: 1000; }
  .stamps-modal__close-icon {
    max-width: 24px;
    max-height: 24px; }


.swiper-container.swiper-container-stamps {
  width: 500px;
  height: 600px;
  .swiper-slide-stamps__img {
    width: 100%;
    height: 500px;
    background: rgba(164, 164, 164, 0.1);
    padding: 20px 40px;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .swiper-slide-stamps__description {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #111721;
    padding: 20px;
  }
  .swiper-button-prev.swiper-button-prev-stamps
   {
    width: 64px;
    height: 64px;
    background: #fff;
    background: rgba(254, 254, 254, 0.1);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    top: 76.4%;
    left: 74%!important;
    &:hover {
      background: #DCE3EF;
      opacity: 0.3;
    }
  }

  .swiper-button-next-stamps {
    width: 64px;
    height: 64px;
    background: rgba(254, 254, 254, 0.1);
    right: 0;
    top: 76.4%;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;

    &:hover {
      background: #DCE3EF;
      opacity: 0.3;
    }
  }
}




@media(max-width: 499px) {

  .swiper-container.swiper-container-stamps .swiper-slide-stamps__description {
    background: white;
  }

  .swiper-container.swiper-container-stamps .swiper-button-prev.swiper-button-prev-stamps {
    top: 86%!important;
    left: 0% !important;
  }

  .swiper-container.swiper-container-stamps .swiper-button-next-stamps {
    top: 86%!important;
  }
  .stamps .big-block--represent {
    padding-bottom: 40px;
    .common-wrapper__holder {
      padding-bottom: 0;
    }
  }
  .stamps-header__wrapper {
    margin-top: 50px;
  }
  .download-mobile {
    display: block;
    margin-left: 0;
    margin-top: 32px;
    .stamps-download__item {
      align-items: baseline;
      border: 1px solid #DCE3EF;
      backdrop-filter: blur(8px);
      a {
        color: #111721;;
      }
    }
  }
  .download-desktop {
    display: none;
  }

  .stamps-main__wrapper .page__subtitle_wrapper {
    margin-top: 34px;
  }

  .stamps-todo-line.stamps-todo-line__desktop {
    display: none;
  }

  .stamps-todo-line.stamps-todo-line__mobile {
    display: block;
    width: 100%;
  }
  .todo-item {
    justify-content: center;
   
  }
  .todo-item:not(:first-child) {
    margin-left: 0;
  }
  .todo-next-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .container.stamps-container-mobile {
    padding-left: 16px;
    padding-right: 16px;
  }

  .choose-form {
    p {
      padding-left: 13px;
      padding-right: 13px;
    }
  }
  .choose-form-items__wrapper {
    margin-left: 0;
  }
  .choose-form-item {
    max-width: 171px;
    width: 100%;
    margin-left: 0;
    margin: auto;
  }
}