.video-page__content {
  margin-top: 56px;
}

.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .video-modal__wrapper {
    display: none; }
  .video-modal__holder {
    width: 704px;
    height: 452px; }
  .video-modal__bg {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 300;
    background: rgba(255, 255, 255, 0.9);
    position: fixed; }
  .video-modal__close {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 48px;
    top: 48px;
    cursor: pointer; }
  .video-modal__close-icon {
    max-width: 24px;
    max-height: 24px; }

.video-item__preview {
  width: 224px;
  height: 144px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  right: -48px;
  background-position: center center;
  background-image: url(//img.youtube.com/vi/G-PQh9HEUvA/mqdefault.jpg);
}

a.video-item {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -16px;
  margin-bottom: 16px;
  position: relative;
  &:hover {
    .video-item__content {
      background: #F8FAFF;
      border: 1px solid #DCE3EF;
    }
    
  }
}


.video-item__content {
  background: #FFFFFF;
  border: 1px solid #F8FAFF;
  padding-left: 112px;
  padding-top: 32px;
  padding-right: 64px;
  padding-bottom: 32px;
  width: 100%;
}

.video-item__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: #111721;
  margin-bottom: 24px;
  min-height: 96px;
}

.video-item__date {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #818FA6;
}

.video-page {
  .pagination {
    margin-bottom: 0;
  }
}

@media(max-width: 499px) {

  .common-wrapper.video-page {
    background-image: url(../images/fix-img-3.png)!important;
    background-size: 140px;
    background-position: right 50px!important;
    padding-bottom: 44px!important;
  }
  .video-item {
    flex-direction: column;
    max-width:100%;
    width: 100%;
    margin-left: 0!important;
    background: #FFFFFF;
    border: 1px solid #DCE3EF;
    padding: 16px;
  }

  .video-item__content {
    padding: 0;
    border: none;
    background: inherit;
  }

  .video-item__preview {
    width: 100%;
    right: 0;
  }

  .container-video-mobile {
    padding-left: 16px;
    padding-right: 16px;
  }
  .video-item__heading {
    font-size: 20px;
    line-height: 26px;
    margin-top: 16px;
    margin-bottom: 0;
  }
}