.header-mobile {
  display: none;
}


.menu-mobile {
  opacity: 0;
  width: 87%;
  height: 100%;
  position: fixed;
  top:0;
  right:0;
  background: #ffffff;
  z-index: 3;
  transition: 0.2s;
  transform: translate(100%, 0);
  overflow: auto;
}
.main-menu__holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    min-width: 1024px;
    max-width: 1488px;
    height: 88px;
    padding-left: 40px;
    padding-right: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around; 
  }
  .main-menu__main-logo {
    transition: all 300ms ease;
    a {
      display: block;
    }
    &:hover {
      transform: scale(1.07);
    }
  }
  .main-menu__nav-bar {
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; 
    margin-left: 100px;
    a {
      text-align: center;
    }
  }
 

.main-logo {
  }
  .main-logo__icon {
     }
    .main-logo__icon:hover {
      -webkit-transform: scale(1.07);
      transform: scale(1.07); }

.nav-bar__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;  
}
.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav-bar__submenu-btn {
    cursor: default; }
  .nav-bar__link, .nav-bar__submenu-btn {
    text-decoration: none;
    color: #111721; }
    .nav-bar__link:hover, .nav-bar__submenu-btn:hover {
      opacity: 1 !important; }
    .nav-bar__link:last-child, .nav-bar__submenu-btn:last-child {
      margin-right: 0; }
  .nav-bar__submenu-wrapper:hover .nav-bar__link, .nav-bar__submenu-wrapper:hover .nav-bar__submenu-btn {
    opacity: 1 !important; }
  .nav-bar__submenu-wrapper:hover .nav-bar__submenu {
    display: block; }
  .nav-bar__submenu {
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #DCE3EF;
    border-bottom: 0;
    margin-left: -32px;
    display: none;
    z-index: 100; }
  .nav-bar__submenu-link {
    display: block;
    line-height: 56px;
    padding-left: 32px;
    padding-right: 56px;
    text-decoration: none;
    color: #111721;
    border-bottom: 1px solid #DCE3EF;
    position: relative; }
    .nav-bar__submenu-link:hover {
      background: #F8FAFF; }
      .nav-bar__submenu-link:hover .nav-bar__submenu-arrow {
        display: block; }
  .nav-bar__submenu-arrow {
    max-width: 4px;
    max-height: 8px;
    position: absolute;
    right: 24px;
    top: 24px;
    display: none; }
  .nav-bar:hover .nav-bar__link, .nav-bar:hover .nav-bar__submenu-btn {
    opacity: 0.3; }

@media(max-width: 1440px) {
  .main-menu__main-logo.main-logo {
    flex-grow: 1;
  }

  .main-menu__nav-bar {
    margin-left: 40px;
    flex-grow: 5;
    .nav-bar__link {
      font-size: 12px;
}
  }
}

 
@media(max-width: 499px) {
  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 0.5px solid #DCE3EF;
    .main-menu__main-logo.main-logo {
      margin-bottom: 9px;
    }
  }
  .menu-btn {
	cursor: pointer;
	display: block;
	position: absolute;
	top: 5px;
	right: 10px;
	z-index: 4;
	width: 50px;
	height: 50px;
	background-color: #fff;
}



.menu_active {
  opacity: 1!important;
  transform: translateX(0%)!important;
  transition: all 0.2s ease!important;
  -webkit-transition: all 0.2s ease!important;
  -moz-transition: all 0.2s ease!important;
  -ms-transition: all 0.2s ease!important;
  -o-transition: all 0.2s ease!important;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
	position: absolute;
	top: 50%;
	margin-top: -1px;
	left: 50%;
	margin-left: -10px;
	width: 20px;
	height: 2px;
	background-color: #24509A;
}

.menu-btn span::before,
.menu-btn span::after {
	content: '';
	display: block;
	transition: 0.5s;
}

.menu-btn span::before {
	transform: translateY(-5px);
}

.menu-btn span::after {
	transform: translateY(5px);
}



.menu-btn_active span {
	height: 0;
}

.menu-btn_active span:before {
	transform: rotate(45deg);

}

.menu-btn_active span:after {
	transform: rotate(-45deg);
	
}


.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.5;
  z-index: 2;
}
.overlay-show {
  display: block;
}

.menu-mobile__header {
  padding-left: 18px;
  padding-top: 8px;
  border-bottom: 0.5px solid #DCE3EF;
  padding-bottom: 15px;
}

.menu-mobile__body {
  position: relative;
  min-height: 100%;
  padding-left: 48px;
  .app-buttons {
    // position: absolute;
    // bottom: 100px;
    margin-top: 35px;
  }
}
.accordeon {
  margin-top: 22px;

  a {
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
    font-size: 32px;
    color: #000000;
    display: block;
    margin: 0;
    cursor: pointer;

   

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }


  }

  p {
    display: flex;
    width: 90%;
    color: black;
    font-size: 17px;
    line-height: 26px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    color: #666666;
    padding-left: 30px;

    span:not(:first-child) {
      margin-left: 45px;
    }

    span {
      display: flex;
      flex-direction: column;
      a {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: #000000;
        margin-top: 8px;
      }
    }
  }

  ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;


    li.menu-mobile__section {
      position: relative;
      padding: 0;
      margin: 0;
      padding-bottom: 4px;
      padding-top: 18px;
      // animation: flipdown 0.5s ease both;
      margin-top: 16px;
      
      .menu-mobile__title{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #111721;
      }

      .footer-sitemap__icon {
        transition: all 0.25s ease-in-out;
        position: absolute;
        transform: translate(-29px, 0) rotate(90deg);
        margin-top: 10px;
        right: 0;
      }
      i {
        position: absolute;
        transform: translate(-32px, 0);
        margin-top: 10px;
        right: 0;

        &:before,
        &:after {
          content: "";
          transition: all 0.25s ease-in-out;
          position: absolute;
          background-color: #245099;
          width: 2px;
          height: 10px;
        }

        &:before {
          transform: translate(-11px, 0) rotate(45deg);
          -webkit-transform: translate(-11px, 0) rotate(45deg);
          -moz-transform: translate(-11px, 0) rotate(45deg);
          -ms-transform: translate(-11px, 0) rotate(45deg);
          -o-transform: translate(-11px, 0) rotate(45deg);
}

        &:after {
          transform: translate(2px, 0) rotate(-45deg);
          -webkit-transform: translate(2px, 0) rotate(-45deg);
          -moz-transform: translate(2px, 0) rotate(-45deg);
          -ms-transform: translate(2px, 0) rotate(-45deg);
          -o-transform: translate(2px, 0) rotate(-45deg);
}
      }

      input[type=checkbox] {
        position: absolute;
        cursor: pointer;
        width: 28%;
        right: 0;
        top: 8px;
        height: 100%;
        z-index: 1;
        opacity: 0;

        

        &:checked {
          &~p {
            margin-top: 0;
            max-height: 0;
            opacity: 0;
            transform: translate(0, 50%);
          }

          &~.footer-sitemap__icon {
            transform: translate(-32px, 0);
            // transform: translate(-29px, 0) rotate(90deg);
            // -webkit-transform: translate(-29px, 0) rotate(90deg);
            // -moz-transform: translate(-29px, 0) rotate(90deg);
            // -ms-transform: translate(-29px, 0) rotate(90deg);
            // -o-transform: translate(-29px, 0) rotate(90deg);
}
          &~i {
            &:before {
              transform: translate(-5px, 0) rotate(45deg);
              -webkit-transform: translate(-5px, 0) rotate(45deg);
              -moz-transform: translate(-5px, 0) rotate(45deg);
              -ms-transform: translate(-5px, 0) rotate(45deg);
              -o-transform: translate(-5px, 0) rotate(45deg);
}

            &:after {
              transform: translate(-11px, 0) rotate(-45deg);
            }
          }

          // @keyframes flipdown {
          //   0% {
          //     opacity: 0;
          //     transform-origin: top center;
          //     transform: rotateX(-90deg);
          //   }

          //   5% {
          //     opacity: 1;
          //   }

          //   80% {
          //     transform: rotateX(8deg)
          //   }

          //   83% {
          //     transform: rotateX(6deg);
          //   }

          //   92% {
          //     transform: rotateX(-3deg);
          //   }

          //   100% {
          //     transform-origin: top center;
          //     transform: rotateX(0deg);
          //   }
          // }


        }

      }

    }
  }

}

}

