@include font-face('Montserrat', "../fonts/Montserrat-Regular", $regular, normal);
@include font-face('Montserrat', "../fonts/Montserrat-Bold", $bold, normal);
@include font-face('Montserrat', "../fonts/Montserrat-Light", $light, normal);
@include font-face('Montserrat', "../fonts/Montserrat-ExtraBold", $extrabold, normal);
@include font-face('Montserrat', "../fonts/Montserrat-SemiBold", $semibold, normal);
@include font-face('Montserrat', "../fonts/Montserrat-Medium", $medium, normal);
@include font-face('Montserrat', "../fonts/Montserrat-Black", $black, normal);


* {
  box-sizing: border-box;
}

// html {
//   @media only screen and (max-width: 499px) {
//     html {
//       min-width: 320px;
//     }
//   }
// }

body {
  font-family: $font-family;
  font-size: 15px;
  overflow-x: hidden;
  @media only screen and (max-width: 499px) {
    body {
      min-width: 320px; 
      overflow-x: hidden;
    } 
  }
  @media(max-width: 351px) {
    body {
      min-width: 280px;
    }
    
  }
}

.container {
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1664px;
  padding-left: 128px;
  padding-right: 128px;
}

a {text-decoration: none;}

p {
  margin: 0;
}

ul {
  padding: 0;
}


input {
  outline: none;
  border: none;
}


@media(max-width: 499px) {
  .container {
    min-width: 320px;
    padding-left: 32px;
    padding-right: 32px;
  }

  
}

@media(max-width: 351px) {
  .container {
    min-width: 280px;
  }
    
  }