extends ../layout/layout.pug

block content
  main.main
    include ../includes/header.pug
    .slider__wrapper.swiper-container
      .slider.swiper-wrapper
        .big-block.big-block--news.common-wrapper.slider-item.swiper-slide
          .gradient-block.gradient-slider
            .common-wrapper__holder
              .big-block__tag(data-aos='fade-up')
                .tag самое главное
              .big-block__description(data-aos='fade-up')
                | Marc Andy Performance P7 — <br> новая сервоприводная 10-красочная <br> флексомашина с шириной печати 340 мм
              .big-block__title(data-aos='fade-up') Ещё быстрее создадим вашу этикетку
              .big-block__footer(data-aos='fade-up')
                a.read-more(href='')
                  .read-more__title Читать подробности
                  .read-more__icon
                    img(src="../../images/more-arrow.svg")
        .big-block.big-block--news.common-wrapper.slider-item.swiper-slide
          .gradient-block.gradient-slider
            .common-wrapper__holder
              .big-block__tag(data-aos='fade-up')
                .tag самое главное
              .big-block__description(data-aos='fade-up')
                | Marc Andy Performance P7 — <br> новая сервоприводная 10-красочная <br> флексомашина с шириной печати 340 мм
              .big-block__title(data-aos='fade-up') Ещё быстрее создадим вашу этикетку
              .big-block__footer(data-aos='fade-up')
                a.read-more(href='')
                  .read-more__title Читать подробности
                  .read-more__icon
                    img(src="../../images/more-arrow.svg")
        .big-block.big-block--news.common-wrapper.slider-item.swiper-slide
          .gradient-block.gradient-slider
            .common-wrapper__holder
              .big-block__tag(data-aos='fade-up')
                .tag самое главное
              .big-block__description(data-aos='fade-up')
                | Marc Andy Performance P7 — <br> новая сервоприводная 10-красочная <br> флексомашина с шириной печати 340 мм
              .big-block__title(data-aos='fade-up') Ещё быстрее создадим вашу этикетку
              .big-block__footer(data-aos='fade-up')
                a.read-more(href='')
                  .read-more__title Читать подробности
                  .read-more__icon
                    img(src="../../images/more-arrow.svg")
        
      .swiper-pagination.slider-dots

      .swiper-button-prev.slider-prev 
        img(src="../../images/arrow-right.svg") 
    
      .swiper-button-next.slider-next
        img(src="../../images/arrow-right.svg") 
             
    section.our-offer
      .container
        .line__wrapper
          .line-text__block
            .tag.tag--green(data-aos='fade-up') Наше предложение    
            .offer__title(data-aos='fade-up')
              | Поможем найти оптимальное решение, отвечающее вашим критериям  
            .offer__description(data-aos='fade-up')
              | Отдел дизайна возьмет на себя разработку эскизов этикетки, учитывая все пожелания и особенности проектируемого продукта.  
          .line-logo__block
            .line-logo(data-aos='fade-up')
              img(src="../../images/batterfly.svg")
              .line-logo__title Яркое решение!
    .big-block.big-block--represent.common-wrapper
      .common-wrapper__holder
        .big-block__tag(data-aos='fade-up') «Яркое решение»  —
        .big-block__title.big-block__title--no-min-height(data-aos='fade-up') Качественная <br> и привлекательная <br> этикетка
        .big-block__2col.big-block__2col--mobile-column
          .big-block__col.big-block__col--mobile-row(data-aos='fade-up')
            .big-block__col-icon
              img(src="../../images/print-1.svg")
            .big-block__col-text.big-block__col-text--first Для любых отраслей: <br> от мясо-молочной <br> до ликеро-водочной
          .big-block__col.big-block__col--mobile-row(data-aos='fade-up' data-aos-delay='150')
            .big-block__col-icon
              img(src="../../images/print-2.svg")
            .big-block__col-text.big-block__col-text--first Детальная проработка <br> макетов отделом дизайна
        .big-block__2col.big-block__2col--mobile-second-block.info-desktop
          .big-block__col__second(data-aos='fade-up')
            .big-block__col-text.big-block__col-text--second География поставок:
            .big-block__col-text.big-block__col-text--big 70+
            .big-block__col-text.big-block__col-text--third стран мира
          .big-block__col(data-aos='fade-up' data-aos-delay='150')
            .big-block__col-text.big-block__col-text--second  
            .big-block__col-text.big-block__col-text--big 15 
            .big-block__col-text.big-block__col-text--third лет работы

        .big-block__2col.big-block__2col--mobile-second-block.info-mobile
          .big-block__col__second(data-aos='fade-up')
            .big-block__col-text.big-block__col-text--second.info-mobile__title География поставок:
            .info-mobile__wrapper
              .info-mobile__item
                .big-block__col-text.big-block__col-text--big 70+
                .big-block__col-text.big-block__col-text--third стран мира
              .info-mobile__item.big-block__col(data-aos='fade-up' data-aos-delay='150')
                .big-block__col-text.big-block__col-text--big 15 
                .big-block__col-text.big-block__col-text--third лет работы    
      .partners-line
        .container
          .partners-line__heading Наши партнеры:
        .partners-line__holder
          .partners-line__wrapper
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/5c908b')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/4165a2')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/4372b7')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/039632')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/0a1bbb')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/d4f194')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/b0ffcf')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/568126')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/32ddf6')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/b282a0')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/18f703')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/910edc')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/970451')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/ff2a03')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/669ff7')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/0351f0')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/97c4ef')
              // Можно любой размер в пределах 120х120
          