extends ../layout/layout.pug

block content
  main.industries
    include ../includes/header.pug
    .container
      .breadcrumbs.breadcrumbs--black.mobile-hide
        a.breadcrumbs__item(href='/') Атлантис-Пак
        .breadcrumbs__icon
          img(src="../../images/breadcrumbs-arrow.svg")
        span.breadcrumbs__item Отрасли применения
      .industries-filter__wrapper.industries-filter-wrapper-desktop(data-aos='fade-up')
        .industries-filter
          a(href='' class="item") Ликеро-водочная продукция
          a(href='' class="item") Мясо-молочная продукция  
          a(href='' class="item") Голография
          a(href='' class="item") Праздничная этикетка
    .industries-filter__wrapper.industries-filter-wrapper-mobile(data-aos='fade-up')
      .industries-filter
        a(href='' class="item") Ликеро-водочная продукция
        a(href='' class="item") Мясо-молочная продукция  
        a(href='' class="item") Голография
        a(href='' class="item") Праздничная этикетка      
    .container.product-container
      .product-container__text
        h1.page__title(data-aos='fade-up') Этикетка для <br> мясо-молочной продукции
        p.page__description(data-aos='fade-up')
          | Контент примерный для понимания смысла, требует проработки>Атлантис-Пак предлагает разработку для любых видов мясо-молочных продуктов. 
          | В нашем проиводстве мы используем только сертифициронанные технологии и используем 

      .industries-gallery__wrapper
        .industries-gallery__line
          a(href='' class="product-block" target='_blank' data-item-id='item-id')(data-aos='fade-up')
            .product-block__img
              img(src="../../images/gallery-1.jpg")
            .product-block__description  
              | Стикер для бренда <br> “Кремлевские Колбасы”
          a(href='' class="product-block")(data-aos='fade-up')
            .product-block__img
              img(src="../../images/gallery-2.jpg")
            .product-block__description  
              | Стикер для бренда <br> “Секреты Мастеров”
          a(href='' class="product-block")(data-aos='fade-up')
            .product-block__img
              img(src="../../images/gallery-3.jpg")
            .product-block__description  
              | Стикер для продукции бренда <br> “КампоМос”
        .industries-gallery__line
          a(href='' class="product-block long")(data-aos='fade-up')
            .product-block__img
              img(src="../../images/gallery-4.jpg")
            .product-block__description  
              | Стикер для бренда <br> “Кремлевские Колбасы”
          a(href='' class="product-block long")(data-aos='fade-up')
            .product-block__img
              img(src="../../images/gallery-5.jpg")
            .product-block__description  
              | Стикер для продукции бренда <br> “КампоМос”
        .industries-gallery__line
          a(href='' class="product-block")(data-aos='fade-up')
            .product-block__img
              img(src="../../images/gallery-6.jpg")
            .product-block__description  
              | Стикер для бренда <br> “Кремлевские Колбасы”
          a(href='' class="product-block")(data-aos='fade-up')
            .product-block__img
              img(src="../../images/gallery-7.jpg")
            .product-block__description  
              | Стикер для бренда <br> “Секреты Мастеров”
          a(href='' class="product-block")(data-aos='fade-up')
            .product-block__img
              img(src="../../images/gallery-8.jpg")
            .product-block__description  
              | Стикер для продукции бренда <br> “КампоМос”    

      include ../includes/pagination.pug    

    .item-modal__wrapper.item-modal__wrapper-industries
      .item-modal__bg
        a.item-modal__close
          img(src="../../images/close.svg")
        .item-modal
          .swiper-container.swiper-container-industries 
            .swiper-wrapper.swiper-wrapper-industries
              .swiper-slide.swiper-slide-industries
                  .swiper-slide-industries__img
                    img(src="../../images/gallery-1.jpg")
                  .swiper-slide-industries__description 
                    | Стикер для бренда <br> “Кремлевские Колбасы”
              .swiper-slide.swiper-slide-industries
                  .swiper-slide-industries__img
                    img(src="../../images/gallery-2.jpg")
                  .swiper-slide-industries__description 
                    | Стикер для бренда <br> “Секреты Мастеров” 
              .swiper-slide.swiper-slide-industries
                  .swiper-slide-industries__img
                    img(src="../../images/gallery-3.jpg")
                  .swiper-slide-industries__description 
                    | Стикер для продукции бренда <br> “КампоМос”



            .swiper-button-prev.swiper-button-prev-industries.desktop-arrows
              img(src="../../images/slider-arrow-left.svg")
            .swiper-button-next.swiper-button-next-industries.desktop-arrows
              img(src="../../images/slider-arrow-right.svg")

            .swiper-button-industries-mobile__wrapper
              .swiper-button-prev.swiper-button-prev-industries.mobile-arrows
                img(src="../../images/slider-arrow-left.svg") 
              .swiper-button-next.swiper-button-next-industries.mobile-arrows
                img(src="../../images/slider-arrow-right.svg")






          //- .offer-example-slider__wrapper(data-aos='fade-up')
          //-   .news-detail-page__content
          //-     .news-detail-page__gallery
          //-       .gallery.industries-product-gallery
          //-         .gallery__holder
          //-           .gallery__slide.gallery__slide--active(style='background-image:url(http://lorempixel.com/640/448/business/1)')
          //-             .gallery-slide__description
          //-               | Стикер для бренда <br> “Кремлевские Колбасы”

          //-           .gallery__slide(style='background-image:url(http://lorempixel.com/640/448/business/2)')
          //-             .gallery-slide__description
          //-               | Стикер для бренда <br> “Кремлевские Колбасы”
          //-           .gallery__slide(style='background-image:url(http://lorempixel.com/640/448/business/3)')
          //-             .gallery-slide__description
          //-                 | Стикер для бренда <br> “Кремлевские Колбасы”
          //-           .gallery__slide(style='background-image:url(http://lorempixel.com/640/448/business/1)')
          //-           .gallery__slide(style='background-image:url(http://lorempixel.com/640/448/business/2)')
          //-           .gallery__slide(style='background-image:url(http://lorempixel.com/640/448/business/3)')
          //-         .gallery__buttons-holder
          //-           a.gallery__button.gallery__button--prev(href='')
          //-             .gallery__button-icon
          //-               img(src="../../images/arrow-right.svg")
          //-           a.gallery__button.gallery__button--next(href='')
          //-             .gallery__button-icon
          //-               img(src="../../images/arrow-right.svg")
              

