extends ../layout/layout.pug

block content
  main.stamps
    include ../includes/header.pug

    .big-block.big-block--represent.big-block--represent--about.common-wrapper.big-block--career-benefits.big-block--mobile-static
      .common-wrapper__holder
        .breadcrumbs.big-block__breadcrumbs.mobile-hide
          a.breadcrumbs__item(href='/') Атлантис-Пак
          .breadcrumbs__icon
            img(src="../../images/breadcrumbs-arrow-right-white.svg")
          span.breadcrumbs__item Готовые штампы
        h1.page__title(data-aos='fade-up') Готовые штампы
        .stamps-header__wrapper
          .stamps__description(data-aos='fade-up')
            | Вырубной штамп — готовая форма вашей будущей этикетки. Выберите нужную вам форму из более чем 1000 готовых вариантов и сэкономьте на его изготовлении.   
          .stamps-download__wrapper.download-desktop
            .stamps-download__item(data-aos='fade-up')
              img(src="../../images/pdf.svg")
              a(href='') Скачать каталог готовых штампов
            .stamps-download__item(data-aos='fade-up')
              img(src="../../images/docx.svg")
              a(href='') Скачать требования к дизайн макетам


    .stamps-main__wrapper
      .container
        .stamps-download__wrapper.download-mobile
          .stamps-download__item(data-aos='fade-up')
            img(src="../../images/pdf.svg")
            a(href='') Скачать каталог готовых штампов
          .stamps-download__item(data-aos='fade-up')
            img(src="../../images/docx.svg")
            a(href='') Скачать требования к дизайн макетам
        .page__subtitle_wrapper
          .page__subtitle-icon
            img(src="../../images/stumbs-icon-1.svg")(data-aos='fade-up')
          .page__subtitle(data-aos='fade-up') Самые разнообразые размеры и формы
          .page__description(data-aos='fade-up')
            | За более чем 15 лет разработки этикетки, в нашем арсенале имеется более тысячи разообразных готовых штампов как сдержанных правильных форм, так и сложных: с декоративными вставками, вытянутыми пропорциями. 
        .partners-line__holder
          .partners-line__wrapper(data-aos='fade-right')
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/5c908b')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/4165a2')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/4372b7')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/039632')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/0a1bbb')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/d4f194')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/b0ffcf')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/568126')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/32ddf6')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/b282a0')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/18f703')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/910edc')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/970451')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/ff2a03')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/669ff7')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/0351f0')
              // Можно любой размер в пределах 120х120
            .partners-line__logo-holder
              img.partners-line__logo(src='https://dummyimage.com/80x40/97c4ef')
              // Можно любой размер в пределах 120х120
        .page__subtitle_wrapper
          .page__subtitle-icon(data-aos='fade-up')
            img(src="../../images/stumbs-icon-2.svg")
          .page__subtitle(data-aos='fade-up') Экономьте на сокращении расходов <br> на разработку формы этикетки
          .page__description(data-aos='fade-up')
            | Скачайте наш каталог форм — и выберите подходящую форму именно для вашей этикетки

        .stamps-todo-line.stamps-todo-line__desktop(data-aos='fade-up')
          .todo-item
            img(src="../../images/todo-icon-1.svg")
            span Скачайте каталог
          .todo-next-arrow
            img(src="../../images/todo-next-arrow.svg")
          .todo-item
            img(src="../../images/todo-icon-2.svg")
            span Выберите форму
          .todo-next-arrow
            img(src="../../images/todo-next-arrow.svg")  
          .todo-item
            img(src="../../images/todo-icon-3.svg")
            span Свяжитесь с менеджером
          .todo-next-arrow  
      .stamps-todo-line.stamps-todo-line__mobile  
        .todo-item
          img(src="../../images/todo-icon-1.svg")
          span Скачайте каталог
        .todo-next-arrow
          img(src="../../images/todo-down-arrow.svg")
        .todo-item
          img(src="../../images/todo-icon-2.svg")
          span Выберите форму
        .todo-next-arrow
          img(src="../../images/todo-down-arrow.svg")  
        .todo-item
          img(src="../../images/todo-icon-3.svg")
          span Свяжитесь с <br> менеджером
        .todo-next-arrow   
         
      .container.stamps-container-mobile
        .stamps-download__item.download-long(data-aos='fade-up')
          img(src="../../images/pdf.svg")
          a(href='') Скачать каталог готовых штампов

        .choose-form
          p(data-aos='fade-up') Также вы можете выбрать форму ниже

          .choose-form-items__wrapper
            a(href="" class="choose-form-item")(data-aos='fade-up')
              .choose-form-item__img
                img(src="../../images/stamps-form.jpg")
              .choose-form-item__text 
                | 1 — 48 
            a(href="" class="choose-form-item")(data-aos='fade-up')
              .choose-form-item__img
                img(src="../../images/stamps-form.jpg")
              .choose-form-item__text 
                | 49 — 92 
            a(href="" class="choose-form-item")(data-aos='fade-up')
              .choose-form-item__img
                img(src="../../images/stamps-form.jpg")
              .choose-form-item__text 
                | 93 — 133 
            a(href="" class="choose-form-item")(data-aos='fade-up')
              .choose-form-item__img
                img(src="../../images/stamps-form.jpg")
              .choose-form-item__text 
                | 134 — 174
            a(href="" class="choose-form-item")(data-aos='fade-up')
              .choose-form-item__img
                img(src="../../images/stamps-form.jpg")
              .choose-form-item__text 
                | 175 — 215
            a(href="" class="choose-form-item")(data-aos='fade-up')
              .choose-form-item__img
                img(src="../../images/stamps-form.jpg")
              .choose-form-item__text 
                | 216 — 257
            a(href="" class="choose-form-item")(data-aos='fade-up')
              .choose-form-item__img
                img(src="../../images/stamps-form.jpg")
              .choose-form-item__text 
                | 258 — 297
            a(href="" class="choose-form-item")(data-aos='fade-up')
              .choose-form-item__img
                img(src="../../images/stamps-form.jpg")
              .choose-form-item__text 
                | 298 — 337
            a(href="" class="choose-form-item")(data-aos='fade-up')
              .choose-form-item__img
                img(src="../../images/stamps-form.jpg")
              .choose-form-item__text 
                | 338 — 377
            a(href="" class="choose-form-item")(data-aos='fade-up')
              .choose-form-item__img
                img(src="../../images/stamps-form.jpg")
              .choose-form-item__text 
                | 378 — 417
            a(href="" class="choose-form-item")(data-aos='fade-up')
              .choose-form-item__img
                img(src="../../images/stamps-form.jpg")
              .choose-form-item__text 
                | 418 — 457
            a(href="" class="choose-form-item")(data-aos='fade-up')
              .choose-form-item__img
                img(src="../../images/stamps-form.jpg")
              .choose-form-item__text 
                | 458 — 497
            a(href="" class="choose-form-item")(data-aos='fade-up')
              .choose-form-item__img
                img(src="../../images/stamps-form.jpg")
              .choose-form-item__text 
                | 538 — 577
            a(href="" class="choose-form-item")(data-aos='fade-up')
              .choose-form-item__img
                img(src="../../images/stamps-form.jpg")
              .choose-form-item__text 
                | 578 — 617
            a(href="" class="choose-form-item")(data-aos='fade-up')
              .choose-form-item__img
                img(src="../../images/stamps-form.jpg")
              .choose-form-item__text 
                | 618 — 657
            a(href="" class="choose-form-item")(data-aos='fade-up')
              .choose-form-item__img
                img(src="../../images/stamps-form.jpg")
              .choose-form-item__text 
                | 658 — 697
            a(href="" class="choose-form-item")(data-aos='fade-up')
              .choose-form-item__img
                img(src="../../images/stamps-form.jpg")
              .choose-form-item__text 
                | 698 — 737
            a(href="" class="choose-form-item")(data-aos='fade-up')
              .choose-form-item__img
                img(src="../../images/stamps-form.jpg")
              .choose-form-item__text 
                | 738 — 777
            a(href="" class="choose-form-item")(data-aos='fade-up')
              .choose-form-item__img
                img(src="../../images/stamps-form.jpg")
              .choose-form-item__text 
                | 778 — 817
            a(href="" class="choose-form-item")(data-aos='fade-up')
              .choose-form-item__img
                img(src="../../images/stamps-form.jpg")
              .choose-form-item__text 
                | 818 — 857


    .stumps-modal__wrapper.item-modal__wrapper-stumps
      .stumps-modal__bg
        a.stumps-modal__close
          img(src="../../images/close.svg")
        .stumps-modal
          .swiper-container.swiper-container-stumps 
            .swiper-wrapper.swiper-wrapper-stumps
              .swiper-slide.swiper-slide-stumps
                  .swiper-slide-stumps__img
                    img(src="../../images/stamps-form.jpg")
                  .swiper-slide-industries__description 
                    | Стикер для бренда <br> “Кремлевские Колбасы”
              .swiper-slide.swiper-slide-stumps
                  .swiper-slide-stumps__img
                    img(src="../../images/stamps-form.jpg")
                  .swiper-slide-industries__description 
                    | Стикер для бренда <br> “Секреты Мастеров” 
              .swiper-slide.swiper-slide-stumps
                  .swiper-slide-industries__img
                    img(src="../../images/stamps-form.jpg")
                  .swiper-slide-stumps__description 
                    | Стикер для продукции бренда <br> “КампоМос”



            .swiper-button-prev.swiper-button-prev-stumps
              img(src="../../images/slider-arrow-left.svg")
            .swiper-button-next.swiper-button-next-stumps
              img(src="../../images/slider-arrow-right.svg")


            




