extends ../layout/layout.pug

//- append config
//-   - var template = 'press-video-page' 

block content
  main.video
    include ../includes/header.pug

  .common-wrapper.video-page
    .container
      .breadcrumbs.breadcrumbs--black.mobile-hide
        a.breadcrumbs__item(href='/') Атлантис-Пак
        .breadcrumbs__icon
          img(src="../../images/breadcrumbs-arrow.svg")
        span.breadcrumbs__item Видео
      h1.page__title Видео
    .container.container-video-mobile  
      .video-page__content(data-aos='fade-up')
        a.video-item(href='https://www.youtube.com/watch?v=H3IHHP9Bp7k' target='_blank' data-youtube-id='H3IHHP9Bp7k')(data-aos='fade-up')
          .video-item__preview(style='background-image: url(https://dummyimage.com/312x168)')
            .video-item__preview-icon
              img(src="../../images/ytube.svg")
          .video-item__content
            .video-item__heading Оболочка для готовых блюд в мягкой упаковке Амилайн Элита-К
            .video-item__date 29 марта / 2019
        a.video-item(href='https://www.youtube.com/watch?v=H3IHHP9Bp7k' target='_blank' data-youtube-id='H3IHHP9Bp7k')(data-aos='fade-up')
          .video-item__preview(style='background-image: url(https://dummyimage.com/312x168)')
            .video-item__preview-icon
              img(src="../../images/ytube.svg")
          .video-item__content
            .video-item__heading Оболочка для готовых блюд в мягкой упаковке Амилайн Элита-К
            .video-item__date 29 марта / 2019
        a.video-item(href='https://www.youtube.com/watch?v=H3IHHP9Bp7k' target='_blank' data-youtube-id='H3IHHP9Bp7k')(data-aos='fade-up')
          .video-item__preview(style='background-image: url(https://dummyimage.com/312x168)')
            .video-item__preview-icon
              img(src="../../images/ytube.svg")
          .video-item__content
            .video-item__heading Оболочка для готовых блюд в мягкой упаковке Амилайн Элита-К
            .video-item__date 29 марта / 2019
        a.video-item(href='https://www.youtube.com/watch?v=H3IHHP9Bp7k' target='_blank' data-youtube-id='H3IHHP9Bp7k')(data-aos='fade-up')
          .video-item__preview(style='background-image: url(https://dummyimage.com/312x168)')
            .video-item__preview-icon
              img(src="../../images/ytube.svg")
          .video-item__content
            .video-item__heading Оболочка для готовых блюд в мягкой упаковке Амилайн Элита-К
            .video-item__date 29 марта / 2019
        a.video-item(href='https://www.youtube.com/watch?v=H3IHHP9Bp7k' target='_blank' data-youtube-id='H3IHHP9Bp7k')(data-aos='fade-up')
          .video-item__preview(style='background-image: url(https://dummyimage.com/312x168)')
            .video-item__preview-icon
              img(src="../../images/ytube.svg")
          .video-item__content
            .video-item__heading Оболочка для готовых блюд в мягкой упаковке Амилайн Элита-К
            .video-item__date 29 марта / 2019
    include ../includes/pagination.pug
  .video-modal__wrapper
    .video-modal__bg
      a.video-modal__close
        img(src="../../images/close.svg")
    .video-modal
      iframe.video-modal__holder(src="", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    

  