extends ../layout/layout.pug

block content
  include ../includes/header-mobile.pug
  main.video
    include ../includes/header.pug

    .common-wrapper.video-page
      .container
        .breadcrumbs.breadcrumbs--black.mobile-hide
          a.breadcrumbs__item(href='/') Атлантис-Пак
          .breadcrumbs__icon
            img(src="../../images/breadcrumbs-arrow.svg")
          span.breadcrumbs__item Видео
        h1.page__title Видео
        .video-page__content
          a.video-item(href='https://www.youtube.com/watch?v=H3IHHP9Bp7k' target='_blank' data-youtube-id='H3IHHP9Bp7k')
            .video-item__preview(style='background-image: url(https://dummyimage.com/312x168)')
              .video-item__preview-icon
                img(src="../../images/ytube.svg")
            .video-item__content
              .video-item__heading Оболочка для готовых блюд в мягкой упаковке Амилайн Элита-К
              .video-item__date 29 марта / 2019
          a.video-item(href='https://www.youtube.com/watch?v=H3IHHP9Bp7k' target='_blank' data-youtube-id='H3IHHP9Bp7k')
            .video-item__preview(style='background-image: url(https://dummyimage.com/312x168)')
              .video-item__preview-icon
                img(src="../../images/ytube.svg")
            .video-item__content
              .video-item__heading Оболочка для готовых блюд в мягкой упаковке Амилайн Элита-К
              .video-item__date 29 марта / 2019
          a.video-item(href='https://www.youtube.com/watch?v=H3IHHP9Bp7k' target='_blank' data-youtube-id='H3IHHP9Bp7k')
            .video-item__preview(style='background-image: url(https://dummyimage.com/312x168)')
              .video-item__preview-icon
                img(src="../../images/ytube.svg")
            .video-item__content
              .video-item__heading Оболочка для готовых блюд в мягкой упаковке Амилайн Элита-К
              .video-item__date 29 марта / 2019
          a.video-item(href='https://www.youtube.com/watch?v=H3IHHP9Bp7k' target='_blank' data-youtube-id='H3IHHP9Bp7k')
            .video-item__preview(style='background-image: url(https://dummyimage.com/312x168)')
              .video-item__preview-icon
                img(src="../../images/ytube.svg")
            .video-item__content
              .video-item__heading Оболочка для готовых блюд в мягкой упаковке Амилайн Элита-К
              .video-item__date 29 марта / 2019
          a.video-item(href='https://www.youtube.com/watch?v=H3IHHP9Bp7k' target='_blank' data-youtube-id='H3IHHP9Bp7k')
            .video-item__preview(style='background-image: url(https://dummyimage.com/312x168)')
              .video-item__preview-icon
                img(src="../../images/ytube.svg")
            .video-item__content
              .video-item__heading Оболочка для готовых блюд в мягкой упаковке Амилайн Элита-К
              .video-item__date 29 марта / 2019
        .pagination__wrapper
          .pagination
            a.pagination__item.pagination__item--active(href='') 1
            a.pagination__item(href='') 2
            a.pagination__item(href='') 3
            a.pagination__item(href='') 4
            a.pagination__item(href='') 5
            a.pagination__item ...
            a.pagination__item(href='') 15  

    