- var title = 'title'

//- layout.pug
html(lang="en")
  head
    meta(charset="utf-8")

    title My Site - #{title}
    meta(name="description" content="The HTML5 Herald")
    block scripts
      script(src='../../js/index.js')
    block styles
      link(rel="stylesheet" href="../../styles/styles.scss")
      link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")
  body
    block content
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script.
      AOS.init();
    block foot  
      include ../includes/footer