- var title = 'title'

//- layout.pug
html(lang="en")
  head
    meta(charset="utf-8")

    title My Site - #{title}
    meta(name="description" content="The HTML5 Herald")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block scripts
    script(src='../../js/index.js')

    block styles
      link(rel="stylesheet" href="../../styles/styles.scss")
      link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")
      link(rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.min.css')
  
      

  body#body
    block content
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script.
      AOS.init();
    block foot  
      include ../includes/footer