- var title = 'title'

//- layout.pug
html(lang="en")
  head
    meta(charset="utf-8")

    title My Site - #{title}
    meta(name="description" content="The HTML5 Herald")
    block scripts
      script(src='../../js/index.js')
    block styles
      link(rel="stylesheet" href="../../styles/styles.scss")
      link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")
  body
    block content
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script.
      AOS.init();
    block foot  
      .footer-sitemap.abnormal-wrapper
        .container
          .footer-sitemap__holder.abnormal-wrapper__holder
            .footer-left
              .footer-sitemap__section
                a.footer-sitemap__title(href='') Главная
              .footer-sitemap__section
                div
                  a.footer-sitemap__title(href='')
                    | Области применения
                    svg.footer-sitemap__icon
                      use(xlink:href='#spriteIcon-arrow-right-icon--white')
                  .footer-sitemap__subsections
                    div
                      a.footer-sitemap__subsection(href='') Ликеро-водочная продукция
                    div
                      a.footer-sitemap__subsection(href='') Мясо-молочная продукция
                    div
                      a.footer-sitemap__subsection(href='') Голография
                    div
                      a.footer-sitemap__subsection(href='') Праздничная этикетка
              .footer-sitemap__section
                a.footer-sitemap__title(href='')
                  | Возможности печати
              .footer-sitemap__section
                a.footer-sitemap__title(href='')
                  | Специальные возможности
                .footer-sitemap__subsections
                  a.footer-sitemap__subsection(href='') Спец предложение 1
                  a.footer-sitemap__subsection(href='') Спец предложение 2
            .footer-right      
              .footer-sitemap__section
                a.footer-sitemap__title(href='')
                  | Готовые штампы
                  svg.footer-sitemap__icon
                    use(xlink:href='#spriteIcon-arrow-right-icon--white')
                .footer-sitemap__subsections
                  a.footer-sitemap__subsection(href='') Каталог готовых штампов
                  a.footer-sitemap__subsection(href='') Требования к дизайн-макетам
              .footer-sitemap__section
                a.footer-sitemap__title(href='')
                  | Видео
                  svg.footer-sitemap__icon
                    use(xlink:href='#spriteIcon-arrow-right-icon--white')
              .footer-sitemap__section
                a.footer-sitemap__title(href='')
                  | Контакты
                  svg.footer-sitemap__icon
                    use(xlink:href='#spriteIcon-arrow-right-icon--white')
                .footer-sitemap__subsections
                  a.footer-sitemap__subsection(href='') Дилеры
                  a.footer-sitemap__subsection(href='') Филиалы
        .bottom-footer.abnormal-wrapper
          .container
            .bottom-footer__holder.abnormal-wrapper__holder
              .bottom-footer__left
                .bottom-footer__unit.bottom-footer__unit--address
                  .footer-addresss
                    | 346703, Ростовская обл., Аксайский район,
                    | х. Ленина, ул. Онучкина, 72
                .bottom-footer__unit.bottom-footer__unit--social
                  .footer-socials
                    .social-links
                      a.social-links__link(href='#')
                        .social-links__icon.social-links__icon--fb
                          img(src="../../images/footer-fb.svg")
                      a.social-links__link(href='#')
                        .social-links__icon.social-links__icon--vk
                          img(src="../../images/footer-vk.svg")
                      a.social-links__link(href='#')
                        .social-links__icon.social-links__icon--instagram
                          img(src="../../images/footer-insta.svg")
                      a.social-links__link(href='#')
                        .social-links__icon.social-links__icon--youtube
                          img(src="../../images/footer-youtube.svg")    
              .bottom-footer__right
                .bottom-footer__unit.bottom-footer__unit--contacts
                  .footer-contacts
                    .footer-contacts__left
                      a(href='tel:88005008585') 8 800 500-85-85 
                      span.footer-contacts--minus — 
                      span.footer-contacts--location Россия
                      br
                      a.footer-contacts--mail(href='mailto:info@atlantis-pak.ru') info@atlantis-pak.ru
                    .footer-contacts__right
                      a(href='tel:+78005008585') +7 800 500-85-85 
                      span.footer-contacts--minus — 
                      span.footer-contacts--location Зарубежье
                
                .bottom-footer__unit.bottom-footer__unit--copyright
                  .footer-copyright
                    .footer-copyright__grey
                      | 1993 -
                      span.footer-copyright__year  
                      | 2019 Яркое решение
                    a.footer-copyright__white(href='http://gridworks.ru' target='_blank') Разработано в Gridworks
                
                .bottom-footer__unit.bottom-footer__unit--app-buttons
                  .footer-app-button
                    .app-buttons
                      a.app-buttons__link(href='')
                        .app-buttons__icon
                          img(src="../../images/appstore.svg")
                        .app-button__text
                          .app-button__title
                            | ЗАГРУЗИТЕ В  
                          .app-button__subtitle
                            | App Store  
                      a.app-buttons__link(href='')
                        .app-buttons__icon
                          img(src="../../images/googleplay.svg")
                        .app-button__text
                          .app-button__title
                            | ДОСТУПНО В 
                          .app-button__subtitle
                            | Google Play    
                      a.app-buttons__link(href='')
                        .app-buttons__icon
                          img(src="../../images/appgallery.svg")
                        .app-button__text
                          .app-button__title
                            | ОТКРОЙТЕ В
                          .app-button__subtitle
                            | AppGallery   
                .footer-agrocom
                  a.footer-agrocom__link(href='' target='_blank')
                    .footer-agrocom__logo
                      img(src="../../images/agrocom-logo.svg")


          